<% include common/header.html%>
<div class="hero-unit">
    <h11>欢迎来到天韵坊论坛</h11>
    <p>天韵坊 是一个基于 node 的读书网站</p>
    <!--<p>-->
        <!--<a class="btn btn-primary" href="/login">登录</a>-->
        <!--<a class="btn btn-primary" href="/reg">立即注册</a>-->
    <!--</p>-->
</div>
<div class="row">
    <div class="span4">
        <a href="http://localhost:3000/home"><h2>天韵文学城</h2></a>
        <p>天韵文学城倾力打造的综合游戏站，为JJER们提供"快乐而专业"的互动娱乐体验。无论你是备受推崇的作者，还是与晋江文学城共同成长的忠实读者，又或许只是际会巧合，因喜欢阅读和书写而来到晋江文学城的平凡女孩，我们都希望为你打造一块驻足的平台。</p>
    </div>
    <div class="span4">
        <a href="/"><h2>天韵论坛</h2></a>
        <p>
            天韵论坛也称天韵“小粉红”，域名为“bbs.tywxc.net”。是晋江一直以来的热点区域，晋江的小粉红，一直是一个有爱的地方。在这里，我们可以天涯共此时的八卦、灌水、翻滚、树洞，在这里我们可以求文、留评、我们可以湖绿可以直播。发言可以使用不固定昵称，晋江的小粉红发展出独特的“马甲文化”。

        </p>
    </div>
    <div class="span4">
        <a href="http://localhost:3000/tianyunfang/htm/publish.html"><h2>出版影视</h2></a>
        <p>
            正版版权基地，大陆简体出版、港台繁体出版、海外出版，以每天3本的签约量高速发展。其中影视改编版权，漫画改编版权，有声读物改编版权，无线版权阅读、电子书版权合作等版权输入及输出合作，在行业内占据先行地位。海外合作区域已发展至泰国、韩国、新加坡等。
        </p>
    </div>

</div>
<% include common/footer.html%>